In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [3]:
df = pd.read_excel(r'C:\Users\Siphosethu Zothani\Desktop\STAR\Dots Potential Customer Survey Data.xlsx')

In [4]:

df.describe()

,Unique ID,Age,Annual Family Income ($),Time spent watching videos/TV,Time spent playing indoor sports,Time spent playing outdoor sports,Total Time spent working in front of screen,Sleeping hours,IQ,Whether parents have specs,...,Has OTT subscription,Number of friends,Likes spicy food,Likes desserts,Wants to change career,Has debt,Has kids,Drinks alcohol,Smoker,Wear Specs
count,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,4.988139e+06,44.834161,20578.639130,4.347205,1.991925,1.700621,8.162733,7.648447,106.011801,0.334783,...,0.706211,4.450932,0.607764,0.584783,0.247826,0.450932,0.568944,0.606522,0.310870,0.548137
std,2.867911e+06,19.073161,15079.429422,2.807803,1.205222,1.190910,2.759419,2.260047,15.414674,0.471988,...,0.455567,2.454004,0.488325,0.492836,0.431817,0.497664,0.495301,0.488597,0.462921,0.497755
min,1.683000e+03,13.000000,10.000000,0.000000,0.000000,-2.000000,-2.000000,-1.000000,54.000000,0.000000,...,0.000000,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.516499e+06,29.000000,8494.000000,2.000000,1.000000,1.000000,6.000000,6.000000,95.000000,0.000000,...,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.041256e+06,44.000000,16982.000000,4.000000,2.000000,2.000000,8.000000,8.000000,106.000000,0.000000,...,1.000000,4.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
75%,7.459871e+06,60.000000,30965.250000,6.000000,3.000000,3.000000,10.000000,9.000000,116.000000,1.000000,...,1.000000,6.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,9.999011e+06,91.000000,59858.000000,10.000000,4.000000,5.000000,18.000000,17.000000,161.000000,1.000000,...,1.000000,14.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
column_names = df.columns.tolist()
print(column_names)

['Unique ID', 'Country', 'Age', 'Annual Family Income ($)', 'Gender', 'Time spent watching videos/TV', 'Time spent playing indoor sports', 'Time spent playing outdoor sports', 'Total Time spent working in front of screen', 'Sleeping hours', 'IQ', 'Whether parents have specs', 'English speaker', 'Migrated within country', 'Migrated overseas', 'Maritial Status (0 - Single, 1 - Married, 2 - Divorced)', 'Has Diabetes', 'Education Status', 'Has Gym Subscription', 'Has OTT subscription', 'Number of friends', 'Likes spicy food', 'Likes desserts', 'Wants to change career', 'Has debt', 'Has kids', 'Drinks alcohol', 'Smoker', 'Wear Specs', 'Education Status_encoded', 'Gender_encoded', 'English speaker_encoded']

In [17]:
columns_to_drop = ['Unique ID', 'Annual Family Income ($)', 'IQ', 'Migrated within country',
                   'Maritial Status (0 - Single, 1 - Married, 2 - Divorced)', 'Education Status',
                   'Number of friends', 'Wants to change career', 'Has debt']

df_cleaned = df.drop(columns=columns_to_drop)

In [19]:
print(df_cleaned.columns.tolist())

['Country', 'Age', 'Gender', 'Time spent watching videos/TV', 'Time spent playing indoor sports', 'Time spent playing outdoor sports', 'Total Time spent working in front of screen', 'Sleeping hours', 'Whether parents have specs', 'English speaker', 'Migrated overseas', 'Has Diabetes', 'Has Gym Subscription', 'Has OTT subscription', 'Likes spicy food', 'Likes desserts', 'Has kids', 'Drinks alcohol', 'Smoker', 'Wear Specs', 'Education Status_encoded', 'Gender_encoded', 'English speaker_encoded']

In [20]:
df_cleaned.describe()

,Age,Time spent watching videos/TV,Time spent playing indoor sports,Time spent playing outdoor sports,Total Time spent working in front of screen,Sleeping hours,Whether parents have specs,English speaker,Migrated overseas,Has Diabetes,...,Has OTT subscription,Likes spicy food,Likes desserts,Has kids,Drinks alcohol,Smoker,Wear Specs,Education Status_encoded,Gender_encoded,English speaker_encoded
count,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,44.834161,4.347205,1.991925,1.700621,8.162733,7.648447,0.334783,0.652484,0.264907,0.331366,...,0.706211,0.607764,0.584783,0.568944,0.606522,0.310870,0.548137,0.854037,0.612422,0.652484
std,19.073161,2.807803,1.205222,1.190910,2.759419,2.260047,0.471988,0.476255,0.441352,0.470778,...,0.455567,0.488325,0.492836,0.495301,0.488597,0.462921,0.497755,0.613455,0.487273,0.476255
min,13.000000,0.000000,0.000000,-2.000000,-2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.000000,2.000000,1.000000,1.000000,6.000000,6.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,44.000000,4.000000,2.000000,2.000000,8.000000,8.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,60.000000,6.000000,3.000000,3.000000,10.000000,9.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,91.000000,10.000000,4.000000,5.000000,18.000000,17.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000